ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: right;
  border-right: 1px solid #bbb
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  background-color: #aa0404;
}

.icon-bar {
  display: flexbox;
  position: fixed;
  top: 56%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  position:relative;
}

.icon-bar a {
  display: flexbox;
  display:inline-flex;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  font-size: 50px;
  align-content: center;
}

.icon-bar a:hover {
  background-color: #000;
}
.facebook {
  background: #3B5998;
  color: white;
}
.linkedin {
  background: #007bb5;
  color: white;
}
.github {
  background: #0f0f0f;
  color: rgb(255, 250, 250);
}
.whatsapp {
  background: rgb(68, 235, 68);
  color: #000;
}
.phone {
  background: rgb(205, 13, 13);
  color: #faf3f3;
}
.container {
  display: flex;
  align-items: center;
  border: 2px;
  ;
  border-color: #000;
}

.image {
  display: block;
  border-radius: 50%;
  float: right;
  width: 350px;
  height: 350px;
}

.container p {
  display:grid;
  align-items: center;
  width: 1000px;
  float: left;
  text-align: start;
  margin: 10px 50px 50px 2px;
  color: #ffffff;
}

.video {
  display: grid;
  margin-top: 10px;
  height: 500px;
  width: 1500px;
}
.logo {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  ;
}
body {
  background-image: url('Images/logo.gif');
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: bolder;
  color: aliceblue;
  text-align: center;
  justify-content: center;
align-items: center;

}

.icon-bar-index {
  display: flexbox;
  text-align: rigt;
  padding: 16px;
  transition: all 0.3s ease;
  color: rgb(251, 251, 251);
  font-size: 50px;
}

h1 {
  padding: 10px;
  color: black;
  color: rgb(240, 15, 15);
}


form {
  width: 600px;
  background-color: #0a7a14;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px
      rgba(0, 0, 0, 0.1);
}

fieldset {
  border: 1px solid black;
  padding: 10px;
  margin: 0;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="date"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input[type="submit"] {
  padding: 10px 20px;

  border-radius: 5px;
  cursor: pointer;
}

.tech-stack{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,auto));
  gap: 2px;
  justify-content: center;
  align-items: center;
}

.about{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(200px,auto));
  padding-left: 300px;
  width: 900px;

}